body {
  height: 100vh;
  background: #edf6fb;
  padding-top: 3rem;
}
body * {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
button:hover {
  cursor: pointer;
}
.temperature {
  font-family: 'Teko', sans-serif;
}
.ct-toast svg {
  display: none;
}
.ct-toast.ct-toast-error {
  background: #f44336;
}
.ct-toast.ct-toast-error .ct-text {
  color: #fff;
  font-weight: bold;
}
