.current-weather {
  align-items: center;
  background: #edf6fb;
  border-radius: 12px 12px 0 0;
  flex-flow: column nowrap;
  display: flex;
  gap: 2rem;
  height: 300px;
  justify-content: center;
}
.current-weather .info {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  transform: translateY(-12px);
}
.current-weather .info.blur {
  filter: blur(1rem);
}
.current-weather .temperature-weather {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.current-weather .temperature {
  font-size: 6rem;
  line-height: 0.85;
}
.current-weather .weather {
  font-size: 1.75rem;
}
.current-weather .day {
  font-size: 3rem;
  font-weight: 300;
}
.current-weather .icon {
  font-size: 135px;
}
.current-weather .icon * {
  color: #2e4369;
}
