.header {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
  justify-content: center;
}
@media (min-width: 600px) {
  .header {
    flex-flow: row wrap;
    gap: 8%;
  }
}
.header button {
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}
.header button.is-active {
  color: #5fb0e8;
  font-weight: 600;
}
@media (min-width: 600px) {
  .header button {
    width: auto;
  }
}
