@import '../../styles/variables';

.weather-app {
  .header {
    button {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 2rem;
      text-transform: uppercase;

      &.is-active {
        color: @themeColor;
        font-weight: 600;
      }
    }
  }
}
