.test {
  border: 1px solid blue;
}
.test .yoyo {
  opacity: 0.15;
}
.test .yoyo div.value {
  border: 1px solid red;
}
.test .value {
  background: blue;
}
.test .gu {
  background: green;
  border: 1px solid orange;
}
